/*FOOTER used on all pages*/
.footer {
    display: flex;
    flex-direction: column;
    background: $footerbackground;
    padding: $layout-gutter;
    >img{                  /*footer Main Ohmyfood logo size*/
        width: 5.625rem; /*90px*/
        @media (min-width: 600px){
            width: 8.125rem; /*130px*/
            margin-bottom: $layout-gutter;
            align-self: center;
            }
        }   
    ul{
        flex-direction: column;
        justify-content: space-between;
        list-style-type: none;  /*remove point*/
        line-height: 1.625rem; /*26px*/
        padding-left: 0rem;
        @media (min-width: 600px){
            flex-direction: row;         
            }
        img{                /*smaller logo's sizing/positioning*/
            width: 0.9rem;
            height: 0.9rem;
            margin-right: 0.625rem;
            }
        }

    a{  
        color: $secondary-text;
    }
        
    address{        /*address balise in footer, reset font style to normal*/
        font-style: normal;
        }
}


