/*HEADER for main page*/
.header{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    &__logo{
        height: 1.563rem; /*25px*/
        margin: 0.9rem;
        @media (min-width: $tablette-onwards){
            height: 3.438rem;       /*55px*/
        }
        @media (min-width: $laptop-onwards) {
            height: 4.375rem;       /*70px*/
            }
        }
    &__banner{      /*background colour graded*/
        height: 3.125rem;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to top, $banner-background-light 90%, $banner-background-dark 100%);
        &__icon{
            @include icon-style; /*sets the logo size*/
            margin-right: $icon-margin-right;
        }
    }
    &__search{
        background-color: $banner-background-light;
        border: none;
        color: $primary-text;
        font-size: 1rem;
    }
    &__instructions{    /*declare the style for the header instructions*/
        flex-direction: column;
        align-items: center;
        padding: 2.9rem; /*46px*/   
        background: $section-background;
        margin-bottom: $section-seperation;
        >p{
            color: $quaternary-color;
        }
    }
    
    /*HEADER components for menu pages*/
    &__menu-banner{
        align-items: center;
        justify-content: center;
        &__backarrow{       /*back to home page arrow*/
            @include icon-style;
            margin-left: 1.25rem;
        }
        &__image{       /*menu header image*/
            animation: fade $card-animation-time*2 ease-in-out both;
            height: 14.375rem;
            width: 100%;
            object-fit: cover;
        }
    }
    &__logo--adjust{ /*reposition ohmyfood logo slightly*/
        margin-right: $icon-margin-right;
        margin-left: 0rem;
        flex: 1;        /*set flex:1 so logo takes up all available space*/
    }                   /*so backarrow moves to left side corner*/
}