/*HEADER for main page*/
.header{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    &__logo{
        height: 25px;
        margin: 0.9rem;
        }
    &__banner{      /*background colour graded*/
        background-image: linear-gradient(to top, $banner-background-light 90%, $banner-background-dark 100%);
        justify-content: center;
        align-items: center;
        &__icon{
            @include icon-style; /*sets the logo size a right margin*/
        }
    }
    &__instructions{
        padding: 2.9rem; /*46px*/   
        background: $section-background;
        >p{
            color: $quaternary-color;
        }
    }
}

/*HEADER components for menu pages*/
.header{
    &__backarrow{
        @include icon-style;
            position: absolute;
            top: 1.25rem;
            left: 1.25rem;
    }
    &__image{
        height: 14.375rem;
        width: 100%;
        object-fit: cover;
    }
}