@charset "UTF-8";
/*mixins for the button/card shadow effects*/
/* icon sizing & postioning*/
/* HEADER */
/* Main elements of the page */
html,
body {
  height: 100%;
  background: #fff;
  color: #000;
  font-family: "Roboto", Arial, serif;
  font-size: 1rem;
  margin: auto;
}

/*border-box tells the browser to account for any border and padding in the values specify for an element's width and height*/
* {
  box-sizing: border-box;
}

/*set max width*/
.header, #main, .footer {
  max-width: 1440px;
  margin: auto;
}

.d-flex {
  display: flex;
}

.backarrow {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

@font-face {
  /* Définition of font called Roboto*/
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* Définition of font called Shrikhand*/
  font-family: "Shrikhand";
  src: url("../fonts/Shrikhand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*set heading title sizes*/
h1 {
  font-size: 1.625rem;
  /*26px*/
}

h2 {
  padding-left: 1.875rem;
  margin: 0px;
}

/*for all links*/
a {
  color: #000;
  text-decoration: none;
}

/*colourful button used on each page*/
.primary-button {
  border-radius: 2rem;
  padding: 1rem;
  color: #ffff;
  /*gradient color on button based on color scheme*/
  background-image: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 4px 12px 0px #d9d9d9;
  position: relative;
  z-index: 1;
}
.primary-button:hover::after {
  opacity: 1;
  /*set to 1 so the layer is visible on hover*/
}
.primary-button::after {
  /*create layer that appears over the button*/
  content: "";
  /*white mask that lightens the button on hover*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0;
  /*layer hidden until hover*/
  z-index: -1;
  /*changes stacking order so background is behind*/
  transition: opacity 1000ms;
  /*text but infront of original button background*/
  /*box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.26), 0 10px 20px 0 rgba(0, 0, 0, 0.19);*/
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  /* x,y,blur,spread*/
}

/*selection buttons used in the fonctionnement section*/
.select-button {
  display: flex;
  align-items: center;
  font-weight: bold;
  border-radius: 1.2rem;
  padding: 1.25rem;
  margin: 1.875rem;
  background: #f6f6f6;
  fill: #7e7e7e;
  /*change color of icons*/
  box-shadow: 0px 4px 12px 0px #d9d9d9;
  position: relative;
  z-index: 1;
}
.select-button__number {
  /*style for numbers on fonctionnement buttons*/
  background: #9356DC;
  color: #ffff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding-left: 8px;
  padding-top: 3px;
  position: relative;
  left: -25px;
}
.select-button__icon {
  /*icons size/position*/
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.select-button--colourmodify {
  /*icon & button color modification for dégustez button*/
  background: #f4ebff;
  /* alter button background color based on main colour*/
  fill: #9356DC;
}
.select-button:hover::after {
  opacity: 1;
  /*set to 1 so the layer is visible*/
}
.select-button::after {
  /*::after places this  layer everywhere select-button selector*/
  content: "";
  /* is mentioned in the html*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1.2rem;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0;
  /*layer hidden until hover*/
  z-index: -1;
  /*changes stacking order so background is behind*/
  transition: opacity 1000ms;
  /*text but infront of original button background*/
  /*box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.26), 0 10px 20px 0 rgba(0, 0, 0, 0.19);*/
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  /* x,y,blur,spread*/
}

/*SELECT SECTION: choose a resto, menu then taste*/
.select {
  flex-direction: column;
  margin-bottom: 2.875rem;
}

/*RESTAURANT SECTION*/
.restaurants {
  flex-direction: column;
  gap: 1.875rem;
  background-color: #f6f6f6;
  padding-top: 2.875rem;
  padding-bottom: 4.3125rem;
}

/* RESTAURANT CARDS*/
.restaurant-card {
  flex: 1 1;
  /*short hand for flex grow, flex shrink, flex-basis*/
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
  background-color: #fff;
  box-shadow: 0px 4px 12px 0px #d9d9d9;
  position: relative;
  z-index: 1;
}
.restaurant-card__photo {
  /*restaurant image styling*/
  border-radius: 1rem 1rem 0rem 0rem;
  height: 173px;
  object-fit: cover;
}
.restaurant-card__new {
  /*Green "Nouveau" remark that overlays photo*/
  color: #24806a;
  font-weight: bold;
  background: #99E2D0;
  padding: 8px;
  border-radius: 3px;
  position: absolute;
  top: 13px;
  right: 13px;
  text-align: center;
}
.restaurant-card__description {
  /*positioning of descriptions under cards*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -5px;
  padding-left: 8px;
}
.restaurant-card__description p {
  margin-top: -0.625rem;
}
.restaurant-card__heart {
  /*heart image size & position*/
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.restaurant-card:hover::after {
  opacity: 1;
  /*set to 1 so the layer is visible on hover*/
}
.restaurant-card::after {
  /*create boxshadow that appears over button*/
  content: "";
  /*when the opacity of the layer is changed*/
  position: absolute;
  /*avoids a repaint of page (no reloading) so*/
  top: 0;
  /*more efficient*/
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1rem;
  opacity: 0;
  z-index: -1;
  transition: opacity 1000ms;
  /*box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.26), 0 10px 20px 0 rgba(0, 0, 0, 0.19);*/
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  /* x,y,blur,spread*/
}

/*HEADER for main page*/
.header {
  text-align: center;
  margin-bottom: 2.875rem;
}
.header__logo {
  padding-top: 0.9rem;
  padding-bottom: 5px;
  width: 8rem;
}
.header__banner {
  /*background colour graded*/
  background-image: linear-gradient(to top, #eaeaea 90%, #cfcfcf 100%);
  justify-content: center;
  align-items: center;
}
.header__banner__icon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  /*sets the logo size a right margin*/
}
.header__instructions {
  padding: 2.9rem;
  /*46px*/
  background: #f6f6f6;
}
.header__instructions > p {
  color: #7e7e7e;
}

/*FOOTER used on all pages*/
.footer {
  background: #353535;
  padding: 1.875rem;
}
.footer img {
  /*footer Main Ohmyfood logo size*/
  width: 5.625rem;
  /*90px*/
}
.footer ul {
  list-style-type: none;
  /*remove point*/
  line-height: 1.625rem;
  /*26px*/
  padding-left: 0rem;
}
.footer ul img {
  /*small Ohmyfood logo's sizing/postioning*/
  width: 0.9rem;
  height: 0.9rem;
  margin-right: 0.625rem;
  position: relative;
  top: 5px;
}
.footer a {
  /*links change to third colour choice of site*/
  color: #ffffff;
}
.footer a:hover {
  color: #99E2D0;
}
.footer address {
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
