
@font-face {
    /* Définition of font called Roboto*/
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    /* Définition of font called Shrikhand*/
    font-family: "Shrikhand";
    src: url("../fonts/Shrikhand-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  /*set heading title sizes*/
h1{
  font-size: 1.625rem; /*26px*/
}

h2 { /*Heading H2 positioning*/
    padding-left: $layout-gutter;
    margin: 0rem;
}

h3{
  font-size: 1rem;
}

/*other text*/
span{
  font-size: 0.875rem;
}

  /*for all links*/
a{
  color: $primary-text;
  text-decoration: none;
  cursor: pointer;
}