
/*SELECT SECTION: choose a resto, menu ten taste*/
.select{
    flex-direction: column;
    margin-bottom: $section-seperation;
}

/*RESTAURANT SECTION*/
.restaurants{
    flex-direction: column;
    background-color: $section-background;
    padding-top: $section-seperation;
    padding-bottom: $section-seperation;
}

/* RESTAURANT CARDS*/
.restaurant-card{
    flex: 1 1; /*short hand for flex grow, flex shrink, flex-basis*/
    display: flex;
    flex-direction: column;
    border-radius: 1rem; 
    background-color: #fff;
    @include card-boxshadow;
    position: relative;
    z-index: 1;  

    &__photo{               /*restaurant image styling*/
    border-radius: 1rem 1rem 0rem 0rem;
    height: 173px;
    object-fit: cover;
    }

    &__new{
        color: darken($tertiary-colour, 42%);
        font-weight: bold;
        background: $tertiary-colour;
        padding: 8px;
        border-radius: 3px;
        position: absolute;
        top: 13px;
        right: 13px;
        text-align: center;
    }
    &__description {        /*positioning of descriptions under cards*/
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -5px;
        padding-left: 8px;
        p {
            margin-top: -0.625rem;
        }
    }
    &__heart{      /*heart image size & position*/
        @include icon-style;
    }
    &:hover{   
        &::before {
            opacity: 1;             /*set to 1 so the layer is visible on hover*/
        }
    }
    &::before{                       /*create boxshadow that appears over button*/
        content:"";                 /*when the opacity of the layer is changed*/
        position: absolute;         /*avoids a repaint of page (no reloading) so*/
        top: 0;                     /*more efficient*/
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 1rem;
        opacity: 0;                                    
        z-index: -1;                                   
        transition: opacity $button-transition-time;   
        @include card-hovershadow;
    }      
}
