/*Restaurant Menu Section*/
.menu{
    display: flex;
    flex-direction: column;
    background-color: $section-background;
    border-radius: 2.5rem 2.5rem 0rem 0rem;
    margin-top: -2.5rem;
    position: relative;
    padding-bottom: $section-seperation*1.5;
    h1{    
        padding-left: 1.25rem;
        font-family: "Shrikhand";
    }
    &__header{
        align-items: center;
        justify-content: space-between;
    }
}

/*Food Menu cards*/
.food{
    display: flex;
    flex-direction: column;
    gap: $layout-gutter; 
    
    h2 {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 1rem;
        padding-left: 1.25rem;
        margin-top: 1.25rem;
        &::after{           /*palce line under food headings*/
            content:"";
            display:block; /* so the element starts on anew line*/
            border-bottom: 4px solid $tertiary-colour;
            width: 2.5rem;
            position: relative;
            bottom: -3px;
        }
    }
    h3{
        margin: 0px;
        margin-bottom: 5px;
        /*truncates the heading if needed*/
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex: 1;
        min-width: 0;
    }
    &__item{
        display: flex;
        flex-direction: column;
        border-radius: 1rem; 
        padding: 0.9rem;
        background-color: $card-color;
        @include card-boxshadow;
        margin-left: $layout-gutter;
        margin-right: $layout-gutter;
        opacity: 0;
        animation: fadein $card-animation-time forwards ease-in-out;
        @for $i from 1 through $number-of-cards {
            &--#{$i} {
                animation-delay: $time-delay * $i;
            }
        }
    }
    &__description{
        display: flex;
        justify-content: space-between;
        &--truncate{/*truncates the text if needed*/ 
            flex: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}


  
