
$number-of-cards: 3;
$card-animation-time: 1s;
$time-delay: $card-animation-time / $number-of-cards;
/*calculates the delay between each card based on the number of cards & the total time of animation*/

/*animation to fade in menu items on retaurant menu pages*/
@keyframes fadein {
    from { opacity: 0; transform: translateY(10%);}
    to   { opacity: 1;  transform: translateY(0);}
}
