@mixin card-boxshadow {
    box-shadow: 0px 4px 12px 0px $element-shadow;
}

@mixin icon-style {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

@mixin iconcolor{
img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  }
  }