$primary-colour: #9356DC;
$secondary-colour: #FF79DA;
$tertiary-colour: #99E2D0;
$quaternary-color: #7e7e7e;
$primary-text:#000;
$secondary-text: #ffff;
$card-color:#ffff;

/* colors for laoding animation */
$colors: #99E2D0, #9356DC,#FF79DA;

/*Accueil page variables*/
$banner-background-light: #eaeaea;
$banner-background-dark:#cfcfcf;
$element-shadow:#d9d9d9;

/*General variables*/
$logo-width: 8rem;
$icon-sizing: 1.25rem;
$icon-margin-right: 1.25rem;
$section-seperation: 2.875rem;
$layout-gutter: 1.25rem;
$section-background: #f6f6f6;
$transition-timing: 500ms;

/*footer variables*/
$footerbackground:#353535;

/*variables used for loading page*/
$loadpage-duration: 2s;
$loadpage-delay: 1s;

/*variables used for menu card animation*/
$number-of-cards: 4;
$card-animation-time: 1s;
$time-delay: $card-animation-time / $number-of-cards;
/*calculates the delay time between each card based on the number of cards & the total time of animation*/

/*Media Queries used*/
$tablette-onwards: 600px;
$laptop-onwards: 925px;
